<%= form_for list do |f| %>
  <div class="" style="text-align: center">
    <div>
      <%= f.text_field :name, placeholder: "List name", style: "width: 50%"  %>
    </div>
    <div>
      <%= f.submit class: "btn btn-primary m-3" %>
    </div>
  </div>
<% end %>